* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

body {
    width: 1000px;
    height: 2500px;

}

.box-1 {
    display: inline-block;
    background-color: black;
    height: 90px;
    width: 30px;
}

.side-border {
    background-color: yellow;
    height: 90px;
    width: 28px;
}

.box-2 {
    display: inline-block;
    background-color: pink;
    padding: 20% 5%;

}
.box-3 {
    display: inline-block;
    background-color: aqua;
    padding: 15px 10px 20px;

}
.box-4 {
    display: inline-block;
    background-color: gray;
    padding: inherit;
}

h1 {    
    color: black;

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 90px;
    width: 28px;
    margin-top: 0;
}
